name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-macos:
    name: macOS (Xcode ${{ matrix.xcode }})
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        include:
          - xcode: "26.1.1"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}

      - name: Swift version
        run: swift --version

      - name: Build
        run: swift build --build-tests

      - name: Run tests
        run: swift test

  build-linux:
    name: ${{ matrix.os }} (Swift ${{ matrix.swift }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            swift: "6.2"
          - os: ubuntu-22.04
            swift: "6.2"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Swift
        uses: swift-actions/setup-swift@v2
        with:
          swift-version: ${{ matrix.swift }}

      - name: Swift version
        run: swift --version

      - name: Build
        run: swift build --build-tests

      - name: Run tests
        run: swift test
