name: Windows CI

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/windows-ci.yml'

jobs:
  build-windows:
    name: Windows (Swift ${{ matrix.swift }})
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - swift: "6.2"
            swift-tag: "swift-6.2-release"
            swift-build: "6.2-RELEASE"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Swift
        uses: compnerd/gha-setup-swift@main
        with:
          swift-version: ${{ matrix.swift-tag }}
          swift-build: ${{ matrix.swift-build }}
          cache: true

      - name: Swift version
        run: swift --version

      - name: Build
        run: swift build --build-tests

      - name: Run tests
        run: swift test
